.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 5px 20px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}
.btn.float:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled:hover {
  background-color: white;
  color: black;
  box-shadow: none;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}
.btn.cover-3d {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 300px;
}
.btn.cover-3d span {
  display: inline-block;
  transform: translateZ(20px);
}
.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: all 0.3s;
  transform-origin: top center;
  opacity: 0;
}
.btn.cover-3d:hover {
  color: white;
}
.btn.cover-3d:hover::before {
  transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
  color: black;
}
.btn-cubic .hovering {
  background-color: black;
  color: white;
  transform: rotateX(90deg);
}
.btn-cubic .default {
  background-color: white;
  color: black;
  transform: rotateX(0);
}
.btn-cubic:hover .hovering {
  transform: rotateX(0);
}
.btn-cubic:hover .default {
  transform: rotateX(-90deg);
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .swiper-slide {
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.3);
  transition: transform 1.9s ease;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}
.swiper-slide-active > img {
  transform: none;
}
.swiper-slide-active .hero__title {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.hero {
  overflow: hidden;
  padding-top: 100px;
}
.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 20px));
  color: white;
  font-size: 25px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
}
.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 2;
  height: 68px;
  width: 22px;
  overflow: hidden;
}
.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  animation-name: kf-arrow-anime;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.hero__scrolltext {
  position: absolute;
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  left: -8px;
  top: 11px;
  font-size: 1.2em;
}

@keyframes kf-arrow-anime {
  0%, 50%, 100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}
.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}
.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}
.mobile-menu__main {
  padding: 0;
  perspective: 2000px;
  transform-style: preserve-3d;
}
.mobile-menu__item {
  list-style: none;
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.mobile-menu__link {
  display: block;
  margin-top: 30px;
  text-decoration: none !important;
}

.menu-open #container {
  transform: translate(-300px, 60px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.07s;
}
.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.21s;
}
.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.28s;
}
.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.35s;
}
.menu-open .mobile-menu__btn > span {
  background-color: black;
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(11px) rotate(135deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(-11px) rotate(-135deg);
}

body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm, .service__img, .result__img, .sub-title {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg {
    margin-bottom: 150px !important;
  }
}

.pb-sm, .service__texts {
  padding-bottom: 16px !important;
}

.pb-lg, .hero {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg, .hero {
    padding-bottom: 150px !important;
  }
}

.content-width, .header__inner, .service, .result, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .header__nav, .service__inner, .result__inner {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex, .header__nav, .service__inner, .result__inner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.font-sm, .sub-title {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-md {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #535353;
}

#container {
  position: relative;
  z-index: 10;
  background: white;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}
.header.triggered {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav {
    display: block;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.header__li {
  margin: 10px;
}
@media screen and (min-width: 600px) {
  .header__li {
    margin-left: 30px;
    margin-right: 0;
  }
}
.header__li > a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.header .logo {
  font-size: 35px;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .header .logo {
    justify-content: flex-start;
  }
}

.form_select {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.form_select .options {
  margin-top: 50px;
}
.form_select label {
  font-weight: 600;
  display: block;
}

.cp_iptxt {
  position: relative;
  text-align: center;
  width: 70%;
  margin: 40px 3%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cp_iptxt input[type=text] {
  width: 100%;
  border: 0;
  margin-top: 30px;
}

.cp_iptxt input[type=text]:focus {
  outline: none;
}

.cp_iptxt input[type=text]:focus::after {
  outline: none;
}

.cp_iptxt i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 5px;
  transition: 0.3s;
  color: #aaaaaa;
}

.cp_iptxt::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
  content: "";
  border-width: 0 0 1px 0;
  border-style: solid;
}

.error {
  text-align: center;
  font-size: 28px;
  opacity: 0.8;
  margin: 15px 30px;
}

.service__title {
  font-size: 30px;
  text-align: center;
}
.service__inner {
  position: relative;
  z-index: 0;
  justify-content: space-between;
  background: #eaebe6;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  .service__inner {
    padding: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .service__inner {
    padding: 50px 150px;
  }
}
.service__img {
  height: 300px;
}
@media screen and (min-width: 600px) {
  .service__img {
    flex-basis: 47%;
  }
}
@media screen and (min-width: 960px) {
  .service__img {
    height: 400px;
  }
}
.service__img > img {
  position: relative;
  z-index: -1;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 600px) {
  .service__texts {
    display: flex;
    align-items: flex-end;
    flex-basis: 47%;
  }
}
.service__title {
  position: relative;
}
.service__title::before {
  display: none;
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  top: 50%;
  left: -120px;
  transform-origin: right;
}
@media screen and (min-width: 960px) {
  .service__title::before {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .service__description {
    margin-bottom: 40px;
  }
}

.result__title {
  font-size: 30px;
  text-align: center;
}
.result__inner {
  position: relative;
  z-index: 0;
  background: #eaebe6;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  .result__inner {
    padding: 50px;
  }
}
.result__img {
  height: 300px;
}
@media screen and (min-width: 600px) {
  .result__img {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  .result__img {
    flex-basis: 47%;
  }
}
@media screen and (min-width: 960px) {
  .result__img {
    height: 400px;
  }
}
.result__img > img {
  position: relative;
  z-index: -1;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 600px) {
  .result__description {
    width: 40%;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
  }
}

.btns {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.footer {
  padding: 60px 0;
  text-align: center;
}/*# sourceMappingURL=style.css.map */