@use "../globals" as *;
@use "../parts/common" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
    position: relative;
    z-index: 0;
}

main {
    position: relative;
    z-index: -1;
}

a {
  text-decoration: none;
  color: $cBlack;
}

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: $navHeight;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__li {
    margin: 10px;

    @include mq(md) {
        margin-left: 30px;
        margin-right: 0;
    }

    & > a {
      color: $cBlack;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 35px;
    justify-content: center;

    @include mq(md) {
      justify-content: flex-start;
    }
  }
}

.hero {
    @extend .pb-lg;
}

.form_select {
  // background-color: red;
  width: 80%;
  text-align: center;
  margin: 0 auto;

  .options {
    margin-top: 50px;
    // background-color: red;
  }
}

.result {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  p {
    // width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .btn_link {
    display: flex;
    margin-top: 50px;
  }

  a {
    // margin-right: 1px;
    text-align: center;
  }
}

.service {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    position: relative;
    z-index: 0;
    @extend .flex;
    justify-content: space-between;
    background: $cBgGray;
    padding: 15px;

    @include mq(md) {
      padding: 50px;
    }

    @include mq(xl) {
      padding: 50px 150px;
    }
  }
  &__img {
    @extend .mb-sm;
    height: 300px;
    // transition: box-shadow 0.5s ease 1.6s;

    // &.inview {
    //   box-shadow: inset 0 0 30px $cBlack;
    // }

    @include mq(md) {
      flex-basis: 47%;
    }

    @include mq(lg) {
      height: 400px;
    }

    & > img {
      position: relative;
      z-index: -1;
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__texts {
    @extend .pb-sm;

    @include mq(md) {
      display: flex;
      align-items: flex-end;
      flex-basis: 47%;
    }

    &.inview {
      & .service__title::before {
        @include animation($name: scaleX, $duration: 0.3s, $delay: 1.5s);
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      display: none;
      position: absolute;
      content: "";
      height: 1px;
      width: 100px;
      top: 50%;
      left: -120px;
      background: $cBlack;
      transform: scaleX(0);
      transform-origin: right;

      @include mq(lg) {
        display: block;
      }
    }
  }

  &__description {
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.footer {
  padding: 60px 0;
  text-align: center;
  @extend .content-width;
}