@use "../globals" as *;
@use "../parts/common" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
    position: relative;
    z-index: 0;
}

main {
    position: relative;
    z-index: -1;
}

a {
  text-decoration: none;
  color: $cBlack;
}

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: $navHeight;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__li {
    margin: 10px;

    @include mq(md) {
        margin-left: 30px;
        margin-right: 0;
    }

    & > a {
      color: $cBlack;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 35px;
    justify-content: center;

    @include mq(md) {
      justify-content: flex-start;
    }
  }
}

.hero {
    @extend .pb-lg;
}

.form_select {
  // background-color: red;
  width: 80%;
  text-align: center;
  margin: 0 auto;

  .options {
    margin-top: 50px;
    // background-color: red;
  }

  label {
    font-weight: 600;
    display: block;
  }
}

.cp_iptxt {
	position: relative;
  text-align: center;
	width: 70%;
	margin: 40px 3%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.cp_iptxt input[type='text'] {
	// box-sizing: border-box;
	width: 100%;
	border: 0;
  margin-top: 30px;
  // margin-bottom: 30px;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 0 1px 0;
	border-style: solid;
}

.error {
  text-align: center;
  font-size: 28px;
  opacity: 0.8;
  margin: 15px 30px;
}

.service {
  @extend .content-width;
  // @extend .mb-lg;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__inner {
    position: relative;
    z-index: 0;
    @extend .flex;
    justify-content: space-between;
    background: $cBgGray;
    padding: 15px;

    @include mq(md) {
      padding: 50px;
    }

    @include mq(xl) {
      padding: 50px 150px;
    }
  }
  &__img {
    @extend .mb-sm;
    height: 300px;

    @include mq(md) {
      flex-basis: 47%;
    }

    @include mq(lg) {
      height: 400px;
    }

    & > img {
      position: relative;
      z-index: -1;
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__texts {
    @extend .pb-sm;

    @include mq(md) {
      display: flex;
      align-items: flex-end;
      flex-basis: 47%;
    }

  }

  &__title {
    position: relative;

    &::before {
      display: none;
      position: absolute;
      content: "";
      height: 1px;
      width: 100px;
      top: 50%;
      left: -120px;
      // background: $cBlack;
      // transform: scaleX(0);
      transform-origin: right;

      @include mq(lg) {
        display: block;
      }
    }
  }

  &__description {
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }
}

.result {
  @extend .content-width;
  // @extend .mb-lg;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__inner {
    position: relative;
    z-index: 0;
    @extend .flex;
    // justify-content: space-between;
    background: $cBgGray;
    padding: 15px;
    // display: flex;

    @include mq(md) {
      padding: 50px;
    }

    // @include mq(xl) {
    //   padding: 50px 150px;
    // }
  }
  &__img {
    @include mq(md) {
      width: 50%;
    }
    @extend .mb-sm;
    height: 300px;

    @include mq(md) {
      flex-basis: 47%;
    }

    @include mq(lg) {
      height: 400px;
    }

    & > img {
      position: relative;
      z-index: -1;
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    @include mq(md) {
      width: 40%;
      text-align: center;
      margin-left: 10%;
      margin-top: 5%;
    }
  }

  .twitter-share-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }

}

.btns {

  // background-color: red;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.footer {
  padding: 60px 0;
  text-align: center;
  @extend .content-width;
}

.hscroll {
	width:100%;
	height:100%;
	position:relative;
	border:1px solid lightgray;
}
.hscroll ul {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	overflow:hidden;
	white-space:nowrap;
	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
}
.hscroll img {
	width:100%;
	height:100%;
	object-fit:contain;
}
.hscroll li {
	list-style:none;
	display:inline-block;
	scroll-snap-align:center;
	width:100%;
	height:100%;
}
.arrow {
	top:0;
	position:absolute;
	width:8%;
	height:100%;
	background:rgba(255,255,255,0.3);
	cursor:pointer;
}
.arrow:before {
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	border-left:4px solid gray;
	border-bottom:4px solid gray;
}
.left {
	left:0px;
}
.left:before {
	top:calc(50% - 10px);
	left:calc(50% - 4px);
	transform:rotate(45deg);
}
.right {
	right:0;
}
.right:before {
	top:calc(50% - 10px);
	right:calc(50% - 6px);
	transform:rotate(-135deg);
}
@media screen and (max-width:480px) {
	.hscroll ul {
		overflow-x:auto;
	}
}