{% extends 'base.html' %}

{% block body %}
<div id="content">
    <div class="hero">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero__title">Want To Post More?</div>
                    <img src="static/img/insta.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <div class="hero__title">Want Herarts?</div>
                    <img src="static/img/heart.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <div class="hero__title">Zero? Are You Kidding?</div>
                    <img src="static/img/zero.jpg" alt="" />
                </div>
            </div>
            <div class="hero__footer">
                <img class="hero__downarrow" src="static/img/arrow.svg" />
                <span class="hero__scrolltext">scroll</span>
            </div>
        </div>
    </div>
    <div class="form_select">
        <h1>Select Images And Options</h1>
        <hr>
        <div class="options">
            <!-- <form action="/result" , method="POST" , enctype="multipart/form-data">
                <input type="text" name="test">
                <input type="submit" value="ChatGPT">
            </form>


            <form action="/test" , method="POST" , enctype="multipart/form-data">
                <input type="file" name="img" required multiple>
                <input type="submit" value="AWS">
            </form>

            <p>---------------------------------------------------------------</p> -->

            <h1>{{error}}</h1>

            <form action="/test" method="POST" enctype="multipart/form-data">
                <label>Images</label><br>
                <input type="file" name="images" required multiple="multiple"><br><br>
                <label>People※複数いる場合は"、"区切りで記入してください</label><br>
                <input type="text" name="people"><br>
                <label>Place</label><br>
                <input type="text" name="place"><br><br>
                <input type="submit" value="文章作成">
            </form>
        </div>
    </div>
</div>
{% endblock %}