{% extends 'base.html' %}

{% block body %}
{% for err in errors %}
<h1 class="error">{{err}}</h1>
{% endfor %}
<div id="content">
    <div class="hero">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero__title">Want To Post More?</div>
                    <img src="static/img/insta.jpg" alt="" loading="lazy"/>
                </div>
                <div class="swiper-slide">
                    <div class="hero__title">Want Herarts?</div>
                    <img src="static/img/heart.jpg" alt="" loading="lazy"/>
                </div>
                <div class="swiper-slide">
                    <div class="hero__title">Zero? Are You Kidding?</div>
                    <img src="static/img/zero.jpg" alt="" />
                </div>
            </div>
            <div class="hero__footer">
                <img class="hero__downarrow" src="static/img/arrow.svg" />
                <span class="hero__scrolltext">scroll</span>
            </div>
        </div>
    </div>
    <div class="form_select">
        <h1>Select Images And Options</h1>
        <hr>
        <div class="options">
            <!-- <form action="/result" , method="POST" , enctype="multipart/form-data">
                <input type="text" name="test">
                <input type="submit" value="ChatGPT">
            </form>


            <form action="/test" , method="POST" , enctype="multipart/form-data">
                <input type="file" name="img" required multiple>
                <input type="submit" value="AWS">
            </form>

            <p>---------------------------------------------------------------</p> -->

            <form action="/test" method="POST" enctype="multipart/form-data">
                <label>Images</label>
                <input type="file" name="images" required multiple="multiple" style="margin-bottom: 30px;">
                <div class="cp_iptxt">
                    <label>People<br>※複数いる場合は"、"区切りで記入してください</label>
                    <input type="text" placeholder="People">
                </div>
                <div class="cp_iptxt">
                    <label>Place</label>
                    <input type="text" placeholder="Place">
                </div>
                <input type="submit" value="Create Content" class="btn filled">
            </form>

            
        </div>
    </div>
</div>
{% endblock %}