{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/samplepage/vendors/swiper-bundle.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/samplepage/style.css')}}">
{% endblock %}

{% block body %}
<h1>これはサンプルページです。</h1>
<div id="global-container">
  <div id="container">
    <div id="content">
      <div class="hero">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="hero__title">Want Post More?</div>
              <img src="static/img/sample/insta.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <div class="hero__title">Want Herart?</div>
              <img src="static/img/sample/heart.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <div class="hero__title">Zero? Are You Kidding?</div>
              <img src="static/img/sample/zero.jpg" alt="" />
            </div>
          </div>
          <div class="hero__footer">
            <img class="hero__downarrow" src="static/img/sample/arrow.svg">
            <span class="hero__scrolltext">scroll</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="swiper-bundle.min.js"></script>
<script src="hero-slider.js"></script>
<script src="main.js"></script> -->

<script type="text/javascript" src="{{ url_for('static', filename='js/samplepage/vendors/swiper-bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/samplepage/libs/hero-slider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/samplepage/main.js') }}"></script>
{% endblock %}
