{% extends 'base.html' %}

{% block body %}
<main style="margin-top: 100px;">
    <section class="service">
        <h2 class="service__title">
            What Is This Service
        </h2>
        <div class="service__inner">
            <div class="service__img cover-slide">
                <img class="img-zoom" src="static/img/find.jpg" />
            </div>
            <div class="service__texts appear left">
                <div class="service__texts-inner">
                    <div class="service__title main-title item">
                        <span>AI + CHATGPT</span>
                    </div>
                    <div class="service__sub sub-title item">自動で文章作成</div>
                    <div class="service__description item">
                        <p>
                            AIが自動であなたの投稿したい画像から<br>
                            最適なInstagramに投稿する<br>
                            文章を作成してくれます。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
