{% extends 'base.html' %}

{% block body %}
<main style="margin-top: 100px;">
    <section class="travel">
        <h2 class="main-title tween-animate-title">
            What Is This Service
        </h2>
        <div class="travel__inner">
            <div class="travel__img cover-slide">
                <img class="img-zoom" src="static/img/find.jpg" />
            </div>
            <div class="travel__texts appear left">
                <div class="travel__texts-inner">
                    <div class="travel__title main-title item">
                        <span>AI + CHATGPT</span>
                    </div>
                    <div class="travel__sub sub-title item">自動で文章作成</div>
                    <div class="travel__description item">
                        <p>
                            AIが自動であなたの投稿したい画像から<br>
                            最適なInstagramに投稿する<br>
                            文章を作成してくれます。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
